#### ESSENTIAL LIBRARIES FOR MAIN FUNCTIONALITY -- requirements if you want to execute on a (local) computer ####
#-- conda-forge then pip. 

#conda
python==3.8.18
fiona==1.9.4
geopandas==0.13.2
mapbox_earcut==1.0.1
pydeck==0.8.0	
topojson==1.7

#-- I went in the easiest way possible. Miniconda in (base)
#--    first: conda create -n {env-name} -c conda-forge python=3.8 fiona geopandas mapbox_earcut pydeck topojson
#--   second: conda active {env-name}

#--     then:
ipython kernel install --user --name={env-name}-kernel. #- so that Jupyter in (base) can access this env kernel

#-- and finally
#pip
triangle==20230923	 #- python wrapper around Jonathan Richard Shewchuk's at rufat.be/triangle
cjio==0.7.3	         #- python CLI to process and manipulate CityJSON files
overpass==0.7	
osm2geojson==0.2.4
openlocationcode==1.0.1	 #- google 'plus codes' at https://github.com/google/open-location-code
pynput==1.7.6

