#### pip requirements for binder ####

triangle==20230923	 #- python wrapper around Jonathan Richard Shewchuk's at rufat.be/triangle
cjio==0.7.3	         #- python CLI to process and manipulate CityJSON files
overpass==0.7	
osm2geojson==0.2.4
openlocationcode==1.0.1	 #- google 'plus codes' at https://github.com/google/open-location-code
pynput==1.7.6
