#### ESSENTIAL LIBRARIES FOR MAIN FUNCTIONALITY ####
#-- conda-forge then pip

#conda
python = 3.8.5
geopandas = 0.10.2
pyvista = 0.34.0
pydeck = 0.7.1 

#pip
triangle  = 20220202 # - python wrapper around Jonathan Richard Shewchuk's at rufat.be/triangle
cjio = 0.7.3  # -  python CLI to process and manipulate CityJSON files
overpass = 0.7
osm2geojson = 0.1.33
openlocationcode = 1.0.1 # - google 'plus codes' at https://github.com/google/open-location-code

